<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="rewrite" enabled="true">
                    <match url=".*\.html|content/|images/|scripts/|data/|libs/|template/|favicon.ico" negate="true" />
                    <action type="Rewrite" url="/AngularTest1/html/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>