<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="eventsApp">
<head>
    <title>Event registration</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/app.css" rel="stylesheet" />
    <link rel="icon" href="../content/images/descărcare.png" type="image/x-icon" />
</head>
<body>
    <div class="container" style="padding-left: 50px">
        <div class="navbar">
            <ul class="nav row">
                <li class="col-xs-3"><a href="newEvent.html">New event</a></li>
            </ul>
        </div>
        <div ng-controller="editEventController">
            <div class="container">
                <h1>New event</h1>
                <hr />
                <form name="newEventForm">
                    <fieldset>
                        <label for="eventName">Event name</label>
                        <input id="eventName" ng-model="name" required type="text" placeholder="Name of your event" />
                        <label>{{name}}</label>
                    </fieldset>
                    <br />
                    <button type="submit" ng-click="save(event, newEventForm)" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>

    <script src="../scripts/libs/angular.js"></script>
    <script src="../scripts/proj/app.js"></script>
    <script src="../scripts/proj/controllers/editEventController.js"></script>
</body>
</html>
