<div>
    <div class="container">
        <h1>New event</h1>
        <hr />
        <form name="newEventForm">
            <fieldset>
                <label for="eventName">Event name</label>
                <input id="eventName" ng-model="name" required type="text" placeholder="Name of your event" />
                <label>{{name}}</label>
            </fieldset>
            <br />
            <button type="submit" ng-click="save(event, newEventForm)" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

